.undo-alt {
	background:
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMjU1LjU0NSA4Yy02Ni4yNjkuMTE5LTEyNi40MzggMjYuMjMzLTE3MC44NiA2OC42ODVMNDguOTcxIDQwLjk3MUMzMy44NTEgMjUuODUxIDggMzYuNTU5IDggNTcuOTQxVjE5MmMwIDEzLjI1NSAxMC43NDUgMjQgMjQgMjRoMTM0LjA1OWMyMS4zODIgMCAzMi4wOS0yNS44NTEgMTYuOTcxLTQwLjk3MWwtNDEuNzUtNDEuNzVjMzAuODY0LTI4Ljg5OSA3MC44MDEtNDQuOTA3IDExMy4yMy00NS4yNzMgOTIuMzk4LS43OTggMTcwLjI4MyA3My45NzcgMTY5LjQ4NCAxNjkuNDQyQzQyMy4yMzYgMzQ4LjAwOSAzNDkuODE2IDQyNCAyNTYgNDI0Yy00MS4xMjcgMC03OS45OTctMTQuNjc4LTExMC42My00MS41NTYtNC43NDMtNC4xNjEtMTEuOTA2LTMuOTA4LTE2LjM2OC41NTNMODkuMzQgNDIyLjY1OWMtNC44NzIgNC44NzItNC42MzEgMTIuODE1LjQ4MiAxNy40MzNDMTMzLjc5OCA0NzkuODEzIDE5Mi4wNzQgNTA0IDI1NiA1MDRjMTM2Ljk2NiAwIDI0Ny45OTktMTExLjAzMyAyNDgtMjQ3Ljk5OEM1MDQuMDAxIDExOS4xOTMgMzkyLjM1NCA3Ljc1NSAyNTUuNTQ1IDh6Ii8+PC9zdmc+)
		no-repeat;
}

.play-circle {
	background:
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMzcxLjcgMjM4bC0xNzYtMTA3Yy0xNS44LTguOC0zNS43IDIuNS0zNS43IDIxdjIwOGMwIDE4LjQgMTkuOCAyOS44IDM1LjcgMjFsMTc2LTEwMWMxNi40LTkuMSAxNi40LTMyLjggMC00MnpNNTA0IDI1NkM1MDQgMTE5IDM5MyA4IDI1NiA4UzggMTE5IDggMjU2czExMSAyNDggMjQ4IDI0OCAyNDgtMTExIDI0OC0yNDh6bS00NDggMGMwLTExMC41IDg5LjUtMjAwIDIwMC0yMDBzMjAwIDg5LjUgMjAwIDIwMC04OS41IDIwMC0yMDAgMjAwUzU2IDM2Ni41IDU2IDI1NnoiLz48L3N2Zz4=)
		no-repeat;
}

.stop-circle {
	background:
		url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNNTA0IDI1NkM1MDQgMTE5IDM5MyA4IDI1NiA4UzggMTE5IDggMjU2czExMSAyNDggMjQ4IDI0OCAyNDgtMTExIDI0OC0yNDh6bS00NDggMGMwLTExMC41IDg5LjUtMjAwIDIwMC0yMDBzMjAwIDg5LjUgMjAwIDIwMC04OS41IDIwMC0yMDAgMjAwUzU2IDM2Ni41IDU2IDI1NnptMjk2LTgwdjE2MGMwIDguOC03LjIgMTYtMTYgMTZIMTc2Yy04LjggMC0xNi03LjItMTYtMTZWMTc2YzAtOC44IDcuMi0xNiAxNi0xNmgxNjBjOC44IDAgMTYgNy4yIDE2IDE2eiIvPjwvc3ZnPg==)
		no-repeat;
}
